/* ubuntu-italic - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
	font-url('ubuntu-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	font-url('ubuntu-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-regular - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
	font-url('ubuntu-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	font-url('ubuntu-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
	font-url('ubuntu-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	font-url('ubuntu-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700italic - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
	font-url('ubuntu-v14-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	font-url('ubuntu-v14-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
