// Variables

// textes
$font-size-base: 3rem;

$link-color-nav: #FF0066;
$link-color-hover-nav: #FF80B2;

$txt-body: white;

$txt-festival: #1D0029;
$h1-festival: #1D0029;
$txt-infos: #1C2A43;
$h1-infos: #1C2A43;
$txt-asso: #FFFFFF;
$h1-asso: #FFFFFF;

// fonds
$bg-festival: #3C9AAA;
$bg-infos: #DC803C;
$bg-asso: #8C3484;

// bordures
$border-festival: black;
