@import "variables";
@import "KNACSS";
@import "fonts";

body {
	font-family: 'Ubuntu';
	color: $text;
	background-color: $bg;
}

header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid $bg;
	position: fixed;
	top: 0;
	width: 100%;

	background: $text;
	color: $bg;
	font-size: 2rem;

	a {
		color: $bg;
		text-decoration: underline dashed;
		text-decoration-thickness: 1px;

		&:hover, &:focus {
			color: darken($bg, 20%);
			text-decoration: underline dashed;
			text-decoration-thickness: 1px;
		}
	}

	div.brand, nav {
		padding: 1rem;
	}
}

/* Navigation */
nav[role="navigation"] input[type="checkbox"].menu {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

nav[role="navigation"] label.menu {
	display: none;
	cursor: pointer;
	user-select: none;
}

@media screen and (max-width: 800px) {
	html, body {
		margin: 0;

		header .brand {
			font-size: 1.5rem;
		}
	}
	nav[role="navigation"] a {
		display: none;
	}
	nav[role="navigation"] label.menu {
		display: inline;
		width: 100%;
		margin-top: .5rem;
	}
	nav[role="navigation"] label.menu:after {
		position: absolute;
		right: 1.5rem;
		top: 1.5rem;
		content: "\2261";
	}
	nav[role="navigation"] input[type=checkbox].menu:checked ~ label:after {
		content: "\203A";
	}
	nav[role="navigation"] input[type=checkbox].menu:checked ~ a {
		display: block;
		font-size: 1.5rem;
	}
	.w50, .w60 {
		width: 90%;
	}
	.pal {
		padding: 1rem;
	}
}

section div.descriptions {
	border-radius: 2rem;
}

.content {
	section {
		min-height: 100vh;
		padding-top: 130px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		> div {
			flex: 0 1 auto;
		}

		&:nth-child(even) {
			background-color: $text;
			color: $bg;

			a {
				color: $bg;

				&:focus, &:hover {
					color: lighten($bg, 20%);
				}
			}
		}
	}
}

#title {
	.logo {
		width: 300px;
		border-radius: 300px;
		background-color: $text;
	}
}

#festival {
	font-size: 2.5rem;
}

#infos {
	div.descriptions {
		margin-top: 3rem;

		div {
			border: 2px solid $text;
			border-radius: 1rem;
		}
	}
}

#association {
	a .logo-contact {
		text-decoration: none;
	}

	.logo-contact {
		max-width: 60px;
	}
}

#location {
	display: flex;
	padding: 5rem;

	& > div {
		flex: 1 1 auto;
	}

	& > img {
		object-fit: contain;
		align-self: flex-start;
		margin-left: 1rem;
	}
}

#contact svg, #sponsors img {
	max-width: 20rem;
	max-height: 20rem;
	background-color: $bg;
	padding: 1.5rem;
	border-radius: 3rem;
}

/* Modals */
#modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	color: $bg;
	display: none;

	a {
		color: $bg;

		&:focus, &:hover {
			color: darken($bg, 20%);
		}
	}

	&.show {
		display: block;
	}

	.close {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 50px;
		text-align: center;
		margin: 5px 10px;
		font-size: 3rem;
		border-radius: $modal-radius;
		cursor: pointer;

		&:hover {
			background-color: #aaa;
		}
	}
}

a.donate {
	img {
		height: 51px;
		width: 148px;
	}

	&:focus, &:hover {
		border: none;
	}
}

progress {
	width: 50%;
	height: 2em;
	margin: .5em 0;
	border: 3px solid white;
	border-radius: 5px;
	background-color: black;

	&::-webkit-progress-bar {
		border-radius: 5px;
	}

	&::-webkit-progress-value {
		border-radius: 5px;
		background-color: $progress;
		background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
		background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
		background-size: 40px 40px;
	}

	&::-moz-progress-bar {
		border-radius: 5px;
		background-color: $progress;
		background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
		background-size: 40px 40px;
	}
}

[data-modal] {
	position: fixed;
	width: 75%;
	height: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid $bg;
	border-radius: $modal-radius;
	padding: $modal-radius;
	background-color: $text;
	transition: opacity linear 500ms, visibility 500ms linear;
	overflow: auto;

	&.hide {
		visibility: hidden;
		opacity: 0;
	}

	&.show {
		visibility: visible;
		opacity: 1;
		z-index: 2;
	}
}

@media screen and (max-width: 800px) {
	#festival {
		font-size: inherit;
	}
	[data-modal] {
		border-radius: 2rem;
		padding: 2rem;
		padding-top: 4rem;
	}
	#contact svg, #sponsors img {
		max-width: 10rem;
		max-height: 10rem;
		padding: 1rem;
		border-radius: 1rem;
	}
}

#needs {
	.list {
		display: flex;

		& > ul {
			flex: 1 1 auto;
			align-self: center;
		}

		& > img {
			object-fit: contain;
			align-self: flex-start;
		}
	}
}

@media screen and (max-width: 800px) {
	#needs {
		.list {
			display: block;
			& > ul {
				padding-top: 1rem;
			}
		}
	}
	#location {
		display: block;
		padding: 2rem;
		padding-top: 4rem;
		& > img {
			margin: 0;
			padding-bottom: 2rem;
		}
	}
}
