@import "variables";
@import "KNACSS";

body {
	color: $text;
	background-color: $bg;
}

h1 {
	margin-bottom: 5rem;
}

header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: fixed;
	top: 0;
	width: 100%;

	background: $text;
	color: $bg;
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
	font-size: 3rem;

	a {
		color: $bg;
		text-decoration: underline dashed;

		&:hover, &:focus {
			color: darken($bg, 20%);
			text-decoration: underline dashed;
		}
	}

	div.brand {
		padding: 1rem;
	}

	nav {
		padding: 1rem;
	}
}

/* Navigation */
nav[role="navigation"] input[type="checkbox"].menu {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

nav[role="navigation"] label.menu {
	display: none;
	cursor: pointer;
	user-select: none;
}

@media screen and (max-width: 800px) {
	html, body {
		margin: 0;
	}
	nav[role="navigation"] a {
		display: none;
	}
	nav[role="navigation"] label.menu {
		display: inline;
		width: 100%;
		font-size: 1.1em;
		margin-top: 1rem;
	}
	nav[role="navigation"] label.menu:after {
		position: absolute;
		right: .25em;
		top: 0;
		content: "\2261";
	}
	nav[role="navigation"] input[type=checkbox].menu:checked ~ label:after {
		content: "\203A";
	}
	nav[role="navigation"] input[type=checkbox].menu:checked ~ a {
		display: inline-block;
	}
}

section div.descriptions {
	border-radius: 2rem;
}

.content {
	section {
		min-height: 100vh;
		padding-top: 130px;

		&:nth-child(even) {
			background-color: $text;
			color: $bg;
		}
	}
}

#festival {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> div {
		flex: 0 1 auto;
	}

	.logo {
		width: 300px;
		border-radius: 300px;
		background-color: $text;
	}
}

#infos {
	div.descriptions {
		margin-top: 3rem;

		div {
			border: 1px solid $bg;
			border-radius: 1rem;
		}
	}
}

#association {
	a .logo-contact {
		text-decoration: none;
	}
	.logo-contact {
		height: 60px;
		max-width: 60px;
	}
}
