@import "variables";
@import "KNACSS";

body {
	color: $text;
	background-color: $bg;
}

header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: fixed;
	top: 0;
	width: 100%;

	background: $text;
	color: $bg;
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
	font-size: 3rem;

	a {
		color: $bg;
		text-decoration: underline dashed;

		&:hover, &:focus {
			color: darken($bg, 20%);
			text-decoration: underline dashed;
		}
	}

	div.brand {
		padding: 1rem;
	}

	nav {
		padding: 1rem;
	}
}

/* Navigation */
nav[role="navigation"] input[type="checkbox"].menu {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

nav[role="navigation"] label.menu {
	display: none;
	cursor: pointer;
	user-select: none;
}

@media screen and (max-width: 800px) {
	html, body {
		margin: 0;
		header .brand {
			font-size: 1.5rem;
		}
	}
	nav[role="navigation"] a {
		display: none;
	}
	nav[role="navigation"] label.menu {
		display: inline;
		width: 100%;
		/*font-size: 3rem;*/
		margin-top: 1rem;
	}
	nav[role="navigation"] label.menu:after {
		position: absolute;
		right: .25em;
		top: 0;
		content: "\2261";
	}
	nav[role="navigation"] input[type=checkbox].menu:checked ~ label:after {
		content: "\203A";
	}
	nav[role="navigation"] input[type=checkbox].menu:checked ~ a {
		display: block;
		font-size: 1.5rem;
	}
}

section div.descriptions {
	border-radius: 2rem;
}

.content {
	section {
		min-height: 100vh;
		padding-top: 130px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		> div {
			flex: 0 1 auto;
		}

		&:nth-child(even) {
			background-color: $text;
			color: $bg;
		}
	}
}

#festival {
	.logo {
		width: 300px;
		border-radius: 300px;
		background-color: $text;
	}
}

#infos {
	div.descriptions {
		margin-top: 3rem;

		div {
			border: 1px solid $bg;
			border-radius: 1rem;
		}
	}
}

#association {
	a .logo-contact {
		text-decoration: none;
	}

	.logo-contact {
		height: 60px;
		max-width: 60px;
	}
}

#location {
	display: flex;
	padding: 5rem;

	& > div {
		flex: 1 1 auto;
	}

	& > img {
		object-fit: contain;
		align-self: flex-start;
	}
}

#sponsors {
	img {
		max-width: 150px;
	}
}


/* Modals */
#modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	color: $bg;
	display: none;

	&.show {
		display: block;
	}

	.close {
		background-color: #aaa;
		padding: 5px;
		cursor: pointer;
	}
}

a.donate {
	img {
		height: 51px;
		width: 148px;
	}

	&:focus, &:hover {
		border: none;
	}
}

progress {
	width: 50%;
	height: 2em;
	margin: .5em 0;
	border: 3px solid white;
	border-radius: 5px;
	background-color: black;

	&::-webkit-progress-bar {
		border-radius: 5px;
	}

	&::-webkit-progress-value {
		border-radius: 5px;
		background-color: $progress;
		background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
		background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
		background-size: 40px 40px;
	}

	&::-moz-progress-bar {
		border-radius: 5px;
		background-color: $progress;
		background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
		background-size: 40px 40px;
	}
}

[data-modal-target] {
	cursor: pointer;
}

[data-modal] {
	position: fixed;
	width: 75%;
	height: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid $bg;
	border-radius: 5rem;
	padding: 5rem;
	background-color: $text;
	transition: opacity linear 500ms, visibility 500ms linear;
	overflow: auto;

	&.hide {
		visibility: hidden;
		opacity: 0;
		//transition: opacity linear 500ms, visibility 500ms linear;
	}

	&.show {
		visibility: visible;
		opacity: 1;
		//transition: opacity linear 500ms, visibility 500ms linear;
		z-index: 2;
	}
}
