<section id="association" class="pal">
	<div class="w60 center txtcenter">
		<h1 class="mbm">L’association</h1>

		<p>
			Le festival est géré par <strong>White Rabbit PSES</strong>,
			association loi 1901 à but non lucratif.
		</p>
		<p>
			RNA : W941011113, SIRET: 82819102300013
		</p>

		<h2 class="mtm">Nous contacter</h2>

		<div id="contact" class="autogrid has-gutter">
			<a href="https://mamot.fr/@passageenseine" title="Mastodon" alt="Mastodon" target="_blank">
				<%= svg_image_tag 'logos.svg', 'mastodon' %>
			</a>
			<a href="https://twitter.com/passageenseine" title="Twitter" alt="Twitter" target="_blank">
				<%= svg_image_tag 'logos.svg', 'twitter' %>
			</a>
		</div>

		<h2 class="mtm">Nos partenaires</h2>

		<div id="sponsors" class="autogrid has-gutter">
			<% data.partenaires.each do |k, p| %>
				<% content_tag :div, id: k do %>
					<% link_to p.link, title: p.name, alt: p.name, target: :_blank do %>
						<%= image_tag p.logo %>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<p class="mtm">
			Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
			from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
		</p>
	</div>
</section>
