<section id="association" class="pal">
	<div class="w60 center txtcenter">
		<h1 class="mbm">L’association</h1>

		<h2>Nous contacter</h2>

		<div id="contact" class="autogrid has-gutter">
			<a href="https://mamot.fr/@passageenseine" title="Mastodon" alt="Mastodon" target="_blank">
				<%= svg_image_tag 'logos.svg', 'mastodon' %>
			</a>
			<a href="https://twitter.com/passageenseine" title="Twitter" alt="Twitter" target="_blank">
				<%= svg_image_tag 'logos.svg', 'twitter' %>
			</a>
		</div>

		<h2>Nos partenaires</h2>

		<div id="sponsors" class="autogrid has-gutter">
			<% data.partenaires.each do |k, p| %>
				<% content_tag :div, id: k do %>
					<% link_to p.link, title: p.name, alt: p.name, target: :_blank do %>
						<%= image_tag p.logo %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</section>
