<h1>Dossier de presse</h1>

<h2 class="txtleft" id="tldr">00.&nbsp;TL;DR</h2>

<p>Pas Sage En Seine est un festival ouvert au grand public dont les sujets sont&nbsp;:</p>
<ul>
	<li>la démocratie&nbsp;;</li>
	<li>le développement&nbsp;;</li>
	<li>la résistance&nbsp;;</li>
	<li>la société&nbsp;;</li>
	<li>la liberté&nbsp;;</li>
	<li>Internet&nbsp;;</li>
	<li>l’écologie&nbsp;;</li>
	<li>le numériques&nbsp;;</li>
	<li>le datalove&nbsp;;</li>
	<li>l’hacktivisme&nbsp;;</li>
	<li>les réseaux&nbsp;;</li>
	<li>la réappropriation de l’espace&nbsp;;</li>
	<li>la connaissance&nbsp;;</li>
	<li>les jeux&nbsp;;</li>
	<li>la culture&nbsp;;</li>
	<li>la vie privé&nbsp;;</li>
	<li>la sécurité&nbsp;;</li>
	<li>le faire soi-même&nbsp;;</li>
	<li>le partage&nbsp;;</li>
	<li>le chiffrement…</li>
</ul>

<p>Il aura lieu à Choisy-le-Roi (94) du jeudi 2 au dimanche 5 juillet à la Médiathèque Aragon.</p>

<p>Au programme :</p>
<ul>
	<li>Conférences&nbsp;;</li>
	<li>Ateliers&nbsp;;</li>
	<li>Village d'associations&nbsp;;</li>
	<li>Tables rondes…</li>
</ul>

<p>Pour plus d'informations : <a href="https://www.passageenseine.fr">https://www.passageenseine.fr</a> ou <a href="mailto:contact@passageenseine.fr">contact@passageenseine.fr</a></p>

<h3>Les lieux du festival à Choisy-le-Roi</h3>

<h4>Médiathèque Louis ARAGON</h4>

<p>
	Médiathèque orientée vers le logiciel et la culture du partage, elle accueillera une grande partie des conférences et le village associatif.
</p>
<address>
	17 Rue Pierre Mendès France, 94&nbsp;600 Choisy-le-Roi, France
</address>

<h2 class="txtleft" id="presentation">01.&nbsp;Présentation Pas Sage En Seine</h2>

<p>Historiquement axé sur le hack et internet, le festival a pour vocation de faire se rencontrer des milieux différents dans un objectif commun de partage et d’échange où le numérique est un dénominateur commun.</p>

<h3>PSESHSF 2016</h3>
<dl class="table-display">
	<dt>Équipe</dt>
	<dd>7 membres actifs, participants : 600 personnes sur place, 30&nbsp;000 vues en ligne.</dd>

	<dt>Description</dt>
	<dd>En 2016, PSES s’est associé avec le /tmp/lab/ pour l’évènement conjoint PSESHSF tentant un rapprochement avec les hackerspaces et s’ouvrir sur de nouvelles thémarques et de nouveaux publics.</dd>

	<dt>Lieu</dt>
	<dd>4 lieux sur l’ensemble de la ville de Choisy-le-Roi</dd>

	<dt>Réalisations</dt>
	<dd>Quatre jours de conférences, tables rondes et ateliers. Captation vidéo avec livestreaming des conférences.</dd>
</dl>

<h3>Pas Sage En Seine 2015</h3>
<dl class="table-display">
	<dt>Équipe</dt>
	<dd>10 membres actifs, participants : 400 personnes sur place, 15&nbsp;000 vues en ligne.</dd>

	<dt>Description</dt>
	<dd>Événement annuel dédié à la culture du Hack et des Communs.</dd>

	<dt>Lieu</dt>
	<dd>NUMA (ex La Cantine) 75&nbsp;002</dd>

	<dt>Réalisations</dt>
	<dd>Quatre jours de conférences, tables rondes et ateliers. Captation vidéo avec livestreaming des conférences.</dd>
</dl>

<h3>Pas Sage En Seine 2014</h3>
<dl class="table-display">
	<dt>Équipe</dt>
	<dd>10 membres actifs, participants : 300 personnes sur place, 25&nbsp;000 vues en ligne.</dd>

	<dt>Description</dt>
	<dd>Événement annuel dédié à la culture du Hack et des Communs.</dd>

	<dt>Lieu</dt>
	<dd>NUMA (ex La Cantine) 75&nbsp;002</dd>

	<dt>Réalisations</dt>
	<dd>Quatre jours de conférences, tables rondes et ateliers. Captation vidéo avec livestreaming des conférences.</dd>
</dl>

<h3>Pas Sage En Seine 2012 - 2013 - 2014</h3>
<dl class="table-display">
	<dt>Équipe</dt>
	<dd>10 membres actifs, participants : 200 personnes sur place, +80&nbsp;000 vues en ligne.</dd>

	<dt>Description</dt>
	<dd>Événement annuel dédié à la culture du Hack et des Communs.</dd>

	<dt>Lieu</dt>
	<dd>La Cantine.</dd>

	<dt>Réalisations</dt>
	<dd>Quatre jours de conférences, tables rondes et ateliers. Captation vidéo avec livestreaming des conférences.</dd>
</dl>

<h3>Pas Sage En Seine 2008-2009-2010-2011</h3>
<dl class="table-display">
	<dt>Équipe</dt>
	<dd>10 membres actifs, participants : 200 personnes.</dd>

	<dt>Description</dt>
	<dd>Événement annuel dédié à la culture du Hack et des Communs.</dd>

	<dt>Lieu</dt>
	<dd>La Cantine.</dd>

	<dt>Réalisations</dt>
	<dd>Trois jours de conférences, tables rondes et ateliers. Captation vidéo des conférences.</dd>
</dl>

<p><em>Note : les vues en ligne sont indiquées en chiffre cumulés depuis la période de captation et toutes plateformes vidéo confondues.</em></p>

<h2 class="txtleft" id="dates">02.1&nbsp;Les dates</h2>

<table>
	<tr>
		<td class="txtright prm"><strong>15 avril</strong></td>
		<td>Ouverture de l'appel à participation</td>
	</tr>
	<tr>
		<td class="txtright prm"><strong>24 mai</strong></td>
		<td>Date de clôture de l'appel à participation</td>
	</tr>
	<tr>
		<td class="txtright prm"><strong>1er juin</strong></td>
		<td>Annonce du programme</td>
	</tr>
	<tr>
		<td class="txtright prm"><strong>29 juin</strong></td>
		<td>Ouverture du Festival</td>
	</tr>
	<tr>
		<td class="txtright prm"><strong>2 juillet</strong></td>
		<td>Clôture du Festival</td>
	</tr>
</table>

<h2 class="txtleft" id="programme">02.2&nbsp;Le programme</h2>

<p>Le programme sera disponible à compter du 1er juin.</p>

<h2 class="txtleft" id="participation">03.&nbsp;Participation</h2>

<p>La participation à l’ensemble de l’évènement est en accès libre et totalement gratuit.</p>

<h2 class="txtleft" id="mediakit">04.&nbsp;MediaKit</h2>

<p>Il contient&nbsp;:</p>
<ul>
	<li>ce dossier de presse en format pdf&nbsp;</li>
	<li>le logo&nbsp;</li>
	<li>les visuels.</li>
</ul>

<h2 class="txtleft" id="glossaire">05.&nbsp;Glossaire</h2>
<dl class="table-display">
	<dt>Hackerspace</dt>
	<dd>
		Désigne un lieu de loisir et de travail dont les membres se rattachent à la culture hacker, quelle que soit la nature de leurs centres d'intérêt qu'ils  soient scientifiques, artistiques, techniques ou  bien médiatiques.
	</dd>

	<dt>Hacker</dt>
	<dd>
		Contre-culture basée sur la création, le détournement,  l'approfondissement des connaissances personnelles sur les objets et le  code informatique.
	</dd>

	<dt>Hacking</dt>
	<dd>
		Expérimentation et création dans un but ludique et curieux, par opposition au piratage et au cracking qui se font dans un but nuisible ou mercantile.
	</dd>

	<dt>Communs</dt>
	<dd>
		Ensemble des ressources collectives qu'elles soient naturelles (eau,air), culturelles (œuvres du domaine public), informatique (logiciel libre).
	</dd>

	<dt>Logiciel Libre</dt>
	<dd>
		Désigne les logiciels qui donnent à leurs utilisateurs la liberté de les exécuter, de les étudier, de les modifier et de les distribuer. S'oppose au logiciel privateur qui restreint une ou plusieurs de ces libertés.
	</dd>
</dl>

<h2 class="txtleft" id="presence">06.&nbsp;Présence Presse</h2>

<p>Quelques informations si vous souhaitez être présente ou présent à l'événement.</p>
<ul>
	<li>
		Nous vous prierons de respecter les règles qui seront mises en place concernant les prises de vue impliquant des personnes : Vous serez prié-e de demander l'autorisation des personnes qui pourraient apparaître sur vos photographies ou vidéos.
	</li>
	<li>
		Merci de nous informer de votre présence et de votre intention de faire un article sur le Festival. Nous pourrons ainsi vous aider et aurons le plaisir de discuter avec vous de l'événement.
	</li>
</ul>

<p>Après l'évènement, merci si possible de nous signaler tout article sur le Festival.</p>

<p>
	Nous espérons que toutes les informations contenues dans ce dossier vous seront utiles, n'hésitez pas à nous signaler les erreurs,  les manques que vous pourriez constater et à nous contacter en cas de besoins complémentaires.
</p>
