<section id="festival" class="pal">
	<div class="w80 center txtcenter">
		<%= image_tag 'logo.svg', class: 'logo', alt: 'Logo PSES' %>
		<h1 class="mbm">Festival PSES 2020</h1>
		<h2>Société · Internet · Liberté</h2>
		<h3>Faites preuve de curiosité</h3>
		<div>
			Du 02 au 05 Juillet, à la médiathèque de Choisy-le-Roi
		</div>
	</div>
</section>
