<section id="title" class="pal">
	<div class="w80 center txtcenter">
		<%= image_tag 'logo.svg', class: 'logo', alt: 'Logo PSES' %>
		<h1>Festival PSES 2020</h1>
		<h2>Société · Internet · Liberté</h2>
		<h3>Faites preuve de curiosité</h3>
		<p>
			Du jeudi 02 au dimanche 05 juillet,<br>
			à la médiathèque de Choisy-le-Roi
		</p>
	</div>
</section>

<section id="festival" class="pal">
	<div class="w50">
		<p>
			Bienvenue chez vous !
		</p>

		<p>
			Le festival <b>Pas Sage En seine</b> est un rendez-vous annuel de la
			région parisienne qui vient de fêter ses 10 ans déjà.
		</p>

		<p>
			Lieu incontournable du milieu hacker à ses débuts, il a toujours eu
			pour vocation d’amener les citoyens de tous horizons à se
			réapproprier la société en bidouillant le système.
		</p>

		<p>
			Initialement axé numérique, il s’est ouvert au fur et à mesure des
			éditions et traite aujourd’hui de sujets aussi variés que la
			politique, la justice, l’alimentation, les médias, la littérature,
			les sciences, les arts, le journalisme, le divertissement,
			l’inclusivité, l’accessibilité, le handicap…
		</p>

		<p>
			L’entrée est libre et gratuite afin d’être accessible au plus grand
			nombre, sans discrimination de ressources.
		</p>

		<p>
			Le thème de l’édition 2020 est :
			<b>Bidouille, écologie & démocratie</b>.
		</p>
	</div>
</section>
