<nav class="txtright navigation" role="navigation">
	<input type="checkbox" id="button" class="menu">
        <label for="button" class="menu" onclick></label>
        <%= link_to "Le festival", "#festival", class: "plm", title: "Cliquer ici pour aller à la section sur le festival", accesskey: "f" %>
        <%= link_to "Infos pratiques", "#infos", class: "plm", title: "Cliquer ici pour aller à la section sur les informations pratiques", accesskey: "i" %>
        <%= link_to "L’association", "#festival", class: "plm", title: "Cliquer ici pour aller à la section sur l’association", accesskey: "a" %>
</nav>
