<header>
	<div class="w80 center autogrid">
		<div class="brand">
			<a href="/" title="Accueil du site">PSES</a>
		</div>
		<nav class="txtright navigation" role="navigation">
			<input type="checkbox" id="button" class="menu">
			<label for="button" class="menu" onclick></label>
			<a href="#festival" class="plm" title="Cliquer ici pour aller à la section sur le festival">
				Le festival
			</a>
			<a href="#infos" class="plm" title="Cliquer ici pour aller à la section sur les informations pratiques">
				Infos pratiques
			</a>
			<a href="#association" class="plm" title="Cliquer ici pour aller à la section sur l’association">
				L’association
			</a>
		</nav>
	</div>
</header>
