<nav class="w80 center navigation autogrid" role="navigation">
	<div class="brand">
		<a class="" href="/">PSES</a>
	</div>
	<div class="txtright">
		<ul>
			<li><a href="#festival">Le festival</a></li>
			<li><a href="#infos">Infos pratiques</a></li>
			<li><a href="#association">L’association</a></li>
		</ul>
	</div>
</nav>
