<nav class="txtright navigation" role="navigation">
	<input type="checkbox" id="button" class="menu">
	<label for="button" class="menu" onclick></label>
	<a class="plm" href="#festival">Le festival</a>
	<a class="plm" href="#infos">Infos pratiques</a>
	<a class="plm" href="#association">L’association</a>
</nav>
