<nav class="w80 center navigation autogrid" role="navigation">
	<div class="brand">
		<a class="" href="/">PSES</a>
	</div>
	<div class="txtright">
		<ul>
		<% data.navigation.each do |item| %>
		  <li><a href="#<%= item.goto %>"><%= item.name %></a></li>
		<% end %>
		</ul>
	</div>
</nav>
