<div class="toc">
  <strong>Sommaire&nbsp;:</strong>

  <ul class="unstyled">
    <li><a href="#tldr">00. TL;DR</a></li>
    <li><a href="#presentation">01. Présentation Pas Sage En Seine</a></li>
    <li><a href="#dates">02.1 Les dates</a></li>
    <li><a href="#programme">02.2 Le programme</a></li>
    <li><a href="#participation">03. Participation</a></li>
    <li><a href="#mediakit">04. MediaKit</a></li>
    <li><a href="#glossaire">05. Glossaire</a></li>
    <li><a href="#presence">06. Présence Presse</a></li>
  </ul>
</div>
