---
title: Pas Sage en Seine - Dossier de presse
---
<header>
	<div class="w80 center autogrid">
		<div class="brand">
			<a href="/" title="Accueil du site">PSES</a>
		</div>
	</div>
</header>

<div class="flex-container content">
	<div class="w20 pal txtleft">
		<%= partial '_toc_presse' %>
	</div>

	<div class="w50 center pal">
		<%= partial '_dossier_presse' %>
	</div>

	<div class="w20 pal txtright">
	</div>
</div>
